*.jl.*.cov
*.jl.cov
*.jl.mem
*.pdb
*.cif
.DS_Store
/Manifest.toml
/dev/
/docs/site/
/data/
/docs/build/
/docs/src/*.jl
/docs/Manifest.toml
*/Manifest.toml
page/__site
docpage/__site
_research/
*.msa
.vscode
*.vscode/*
.vscode/biostuff.code-workspace
research/
/docsite/
*.fasta
*.xml
*.json
*.CondaPkg
CondaPkg.toml
*.gz
